body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.hidden {
  display: none;
}

.header {
  padding: 0.5rem;
}

.divider {
  background-color: #666;
  height: 0.4rem;
  border-radius: 2px;
  border: 1px solid #777;
  margin: 0;
}

.notification-count-button {
  float: right;
  background-color: rgb(76, 153, 76);
  color: white;
  border-radius: 3px;
  border: 2px solid rgb(68, 170, 68);
  margin-top: 0.2rem;
}

.notification-list {
  list-style-type: none;
  margin: 0;
}

.notification-list li {
  padding: 10px;
}

.notification-list li:nth-child(even) {
  background-color: #eee;
}

.notification-list li:nth-child(odd) {
  background-color: white;
}

.bold {
  font-weight: bold;
}